<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>my-server</id>
      <username>username</username>
      <!-- "server-secret" -->
      <password>{BnJray6RajsHJ1EO0G6owUQBV3DNG/bWKiyipdTKeyA=}</password>
    </server>
  </servers>
</settings>